<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysStudentMapper">
    
    <resultMap type="SysStudent" id="SysStudentResult">
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="studentAge"    column="student_age"    />
        <result property="studentHobby"    column="student_hobby"    />
        <result property="studentSex"    column="student_sex"    />
        <result property="studentStatus"    column="student_status"    />
        <result property="studentBirthday"    column="student_birthday"    />
    </resultMap>

    <sql id="selectSysStudentVo">
        select student_id, student_name, student_age, student_hobby, student_sex, student_status, student_birthday from sys_student
    </sql>

    <select id="selectSysStudentList" parameterType="SysStudent" resultMap="SysStudentResult">
        <include refid="selectSysStudentVo"/>
        <where>  
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="studentAge != null "> and student_age = #{studentAge}</if>
            <if test="studentHobby != null  and studentHobby != ''"> and student_hobby = #{studentHobby}</if>
            <if test="studentSex != null  and studentSex != ''"> and student_sex = #{studentSex}</if>
            <if test="studentStatus != null  and studentStatus != ''"> and student_status = #{studentStatus}</if>
            <if test="studentBirthday != null "> and student_birthday = #{studentBirthday}</if>
        </where>
    </select>
    
    <select id="selectSysStudentByStudentId" parameterType="Long" resultMap="SysStudentResult">
        <include refid="selectSysStudentVo"/>
        where student_id = #{studentId}
    </select>
        
    <insert id="insertSysStudent" parameterType="SysStudent" useGeneratedKeys="true" keyProperty="studentId">
        insert into sys_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentName != null">student_name,</if>
            <if test="studentAge != null">student_age,</if>
            <if test="studentHobby != null">student_hobby,</if>
            <if test="studentSex != null">student_sex,</if>
            <if test="studentStatus != null">student_status,</if>
            <if test="studentBirthday != null">student_birthday,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentName != null">#{studentName},</if>
            <if test="studentAge != null">#{studentAge},</if>
            <if test="studentHobby != null">#{studentHobby},</if>
            <if test="studentSex != null">#{studentSex},</if>
            <if test="studentStatus != null">#{studentStatus},</if>
            <if test="studentBirthday != null">#{studentBirthday},</if>
         </trim>
    </insert>

    <update id="updateSysStudent" parameterType="SysStudent">
        update sys_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="studentAge != null">student_age = #{studentAge},</if>
            <if test="studentHobby != null">student_hobby = #{studentHobby},</if>
            <if test="studentSex != null">student_sex = #{studentSex},</if>
            <if test="studentStatus != null">student_status = #{studentStatus},</if>
            <if test="studentBirthday != null">student_birthday = #{studentBirthday},</if>
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteSysStudentByStudentId" parameterType="Long">
        delete from sys_student where student_id = #{studentId}
    </delete>

    <delete id="deleteSysStudentByStudentIds" parameterType="String">
        delete from sys_student where student_id in 
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>
</mapper>